.container {
    margin: 24px 0;
}

.container label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.container input {
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 8px;
    outline: 0;
}